<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Cadio Baptiste
    </a>

    <!-- Burger -->
    <a role="button"
       class="navbar-burger"
       aria-label="menu"
       aria-expanded="false"
       data-target="main-navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Menu -->
  <div id="main-navbar-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/pages/portfolio.html">Portfolio</a>
      <a class="navbar-item" href="/pages/contact.html">Contact</a>
    </div>
  </div>
</nav>
